@using OrderTracker.Models;

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Orders</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/styles.css">
    </head>
    <body>
        <div class="container">
        <div class="header">
            <h1>EpiDOUGHdus <h1>
        </div>    
        <h1>Order Details: </h1>

        <h2>@Model["order"].Name</h2>
        <h3><span class="labels">Vendor:</span> @Model["vendor"].Name</h3>
        <h4><span class="labels">Delivery Date:</span> @Model["order"].DeliveryDate</h4>
        <h4><span class="labels">Total Breads:</span> @Model["order"].BreadCount</h4>
        <h4><span class="labels">Total Pastries:</span> @Model["order"].PastryCount</h4>
        <h3><span class="labels">Order Cost:</span> $@Model["order"].OrderCost</h3>

        <a href='/vendor/@Model["vendor"].Id/order/new'><button class="btn" type="click" name="button">Add Another Order</button></a>
        
        <a href='/vendor/@Model["vendor"].Id'><button class="btn" type="click" name="button">Back</button></a>

        </div>
    </body>
</html>